<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"> </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div class="col-md-12">
        <p> Hello World </p>
        <table class="table table-sm table-striped table-danger" >
            <thead><tr><th>#</th><th>PSS Name</th><th>TSA Name</th><th>Username</th></tr></thead>
                <tbody>
                    {% for lastname in lastnames %}
                      {% if (lastname.pss_name == my_name) or (my_name == 'any') %}
                        <tr>
                            <td>{{ lastname.id }}</td>
                            <td>{{ lastname.pss_name }}</td>
                            <td>{{ lastname.tsa_name}}</td>
                            <td>{{ lastname.sales_level_1}}</td>
                            <td>{{ lastname.sales_level_2}}</td>
                            <td>{{ lastname.sales_level_3}}</td>
                            <td>{{ lastname.sales_level_4}}</td>
                            <td>{{ lastname.sales_level_5}}</td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                </tbody>
        </table>
    </div>
</body>

</html>